/*===========================================
Internet Explorer (all versions) is teh suck.

Thank you, that is all.

[love],
[ryan]

P.S. This is a file with hacks to get IE
     to do the stuff ALL other browsers
     do right regularly.
============================================*/

/* Fixes incorrect styling of legend in IE6. */
legend { margin-bottom:1.4em; }

/* Fixes incorrect placement of ol numbers in IE6/7. */
ol { margin-left:2em; }

/* Fixes wrong line-height on sup/sub in IE. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/* Fixes specific to The Neue Standard theme */
ul#menu ul {
	margin: 0;
	padding: 0;
	line-height: 24px;
	}
ul#menu ul li {
	margin: 0;
	padding: 0;
	line-height: 24px;
	}
ul#menu ul li a {
	margin: 0;
	padding: 0;
	}
#search input#search-input {
	/* IE6 doesn't like getting rid of the background image on focus */
	text-indent: 0;
	background-image: none;
	}