/*
Print stylesheet
*/

body {
	margin: .6in;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	color: #222;
	}
h1, h2, h3 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	}
a:link, a:visited {
	color: gray;
	}
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	}
#menu {
	display: none;
	}

/* print URLs after link text */
p a:link:after, p a:visited:after {
	content: " (" attr(href) ") ";
	}