/*
------------------------------------------------------------
Mailer styles 
============================================================
*/
		#mailBox{
		}
		#mailBox p{

		}
		#mailBox dd p{

		}
		#mailBox dl dt{
		}
		#mailBox dl dt#loginInformation{
		}
		#mailBox dl dt#loginDetails{

		}
		#mailBox dl dd{

		}