/*
------------------------------------------------------------
User Module - Global styling
============================================================
*/
	.border-descr {
		display: inline-block;
		font-size: 13px;
		line-height: 18px;
		color: #808080;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		width: 100%;
	}
	#thumbNailMain {
		vertical-align: text-top;
		border: 1px solid #CCC;
		padding: 0.3em;
	}
		/*
		Misc
		------------------------------------------------------------
		*/
		#categoryOptions #cid{margin-bottom:1em;}
		#categoryOptions #new_home{margin-top:0.5em;}
		#add_subcat{margin-bottom:1em;}
		#checkGroup{
		float:right;
		clear:both;
		margin:0 43px 0;
		display:inline;
		}
		#previewLink{
		/*margin-left:120px;*/
		background: url(../images/preview_page.gif) no-repeat 0 50%;
		padding: 2px 0 2px 20px;
		clear:both;
		position:relative;
		zoom:1;
		}
		/*
		Category details
		------------------------------------------------------------
		*/
		#categoryDetails{}
			#categoryDetails h3{
			font-size:1.1em;
			color: #069;
			}
		/*
		Item list
		------------------------------------------------------------
		*/
		#itemList div {
			border:1px solid #D3EBF2;
			border-bottom-color:#A0CFDD;
			border-right-color:#A0CFDD;
			padding:15px;
			margin: 0 0 10px;
			background-color: #dddddd;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ffffff));
			background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
			background-image: -moz-linear-gradient(top, #dddddd, #ffffff);
			background-image: -o-linear-gradient(top, #dddddd, #ffffff);
			background-image: -ms-linear-gradient(top, #dddddd, #ffffff);
			background-image: linear-gradient(top, #dddddd, #ffffff);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dddddd', EndColorStr='#ffffff');
			position:relative;
			clear:both;
		}
		#itemList h1 {
			font-size:1em;
			margin:0;
			color: #000;
		}
		#itemList h2{font-size:1em;font-weight:normal;margin:0;}
		#itemList h3{font-size:1em;font-weight:normal;margin:0;}
		#itemList .online{color:#70B10F;}
		#itemList .offline{color:#636363;}
		#itemList div img {
			border:1px solid #ddd;
			border-bottom-color:#ccc;
			border-right-color:#ccc;
			padding:4px;
			float:left;
			margin-right:10px;
			background:#fff;
		}
		#itemList strong{
		color:#333;
		}
		#itemList.reordering div {
			  cursor:move;
			  background: #fff url(../images/drag.gif) no-repeat 470px 10px;
		}
		.over {
			  background-color:#fcb;
			}
		#itemList label{
		text-transform:lowercase;
		color:#CC2C0D;
		font-weight:normal;
		width:auto;
		padding:0;
		display:inline;
		cursor:pointer;
		}
		#itemList fieldset input{
		width:auto;
		margin:0 3px 0 0;
		float:right;
		}
		#itemList fieldset input[type=checkbox]{
		margin:5px;
		}
		*:first-child+html #itemList fieldset input{
		margin:0;
		}
		#itemList fieldset{
		border:0;
		background:url(../images/delete_tag.gif) no-repeat;
		position:absolute;
		bottom:10px;
		right:0;
		width:75px;
		height:25px;
		padding:5px 0 0;
		text-align:right;
		}
		#itemList ul{list-style:none;}
		#itemList ul li{
		padding:0 0 0 25px;
		margin:1em 0.5em 0.5em;
		background:#fff url(../images/page.gif) no-repeat;
		min-height:20px;
		_height:20px;
		clear:both;
		}
		#itemList ul li.page_parent{
		padding:0 0 0 25px;
		background:url(../images/page_parent.gif) no-repeat;
		min-height:25px;
		_height:25px;
		clear:both;
		}
		#itemList ul>ul{
		margin-left:2em;
		}

		#itemList ul label{
		margin:0 3px 0 0;
		padding:0;
		display:inline;
		cursor:pointer;
		}
		#itemList ul input{
		width:auto;
		margin:4px 0 0;
		_margin:0;
		float:none;
		display:inline;
		}
		/*
		Custom Fields
		------------------------------------------------------------
		*/
		#customFieldsContainer input,
		#customFieldsContainer textarea,
		#customFieldsContainer select{
		}
		#customFieldsContainer textarea{
		}
		#customFieldsContainer table{

		}
		#customFieldsContainer td textarea{
		}
		#customFieldsContainer td input, #customFieldsContainer td textarea, #customFieldsContainer td select{
		}
		#customFieldsContainer td input, #customFieldsContainer td select{
		}
		#customFieldsContainer input.cBox{
		}
		#customFieldsContainer label{
		}
		/*
		Custom Fields (New)
		------------------------------------------------------------
		*/
		#customGroup div {
		}
		.linky {
			margin: 0 5px 0 0;
		}

				.sizerContainer {
					position:relative;
					float: right;
				}
				.sizerContainer a {
					display:block;
					width:16px;
					height:16px;
					margin: 0 5px;
					float: left;
				}
					.sizerContainer .deleteLink {
						background: url(../images/delete.gif) no-repeat;
						text-indent:-9999em;
						font-size:0;
						line-height:0;
						padding:0;
					}
				#removeLink_customLabel {display:none;}
			 .suggestion_list {
				 background: #FAF9F5;
				 border: 1px solid #8CC739;
				 width:350px;
			 }

			 .suggestion_list ul {
				 padding: 0;
				 margin: 0;
				 list-style-type: none;
			 }
			 .suggestion_list li {
				 padding:5px;
			 }

			 .suggestion_list a {
				 text-decoration: none;
				 color: #004CA3;
			 }

			 .suggestion_list .selected {
				 background: #8CC739;
				 color: #fff;
			 }

			 .suggestion_list .selected a {
				 color: #fff;
			 }

			 #autosuggest {
				 display: none;
			 }

		/*
		Date editing styling
		------------------------------------------------------------
		*/
		#editDate{
		margin:0;
		padding:0;
		}
		#editTimeBox, #editTimeBox label{
		color: #000;
		background: #fff;
		}

