<form action="" method="post" id="commentform">
    <fieldset>
        <legend>Leave a Comment</legend>
        <p class="formNote">No <span class="caps"><abbr title="Hypertext Markup Language">HTML</abbr></span> is allowed. All links and new lines will be automagically converted to <span class="caps">HTML</span> for you.</p>
        <p>
        <label for="name">Name: <span class="required">*</span></label>
        <input name="name_required" id="name" value="" class="formfields" type="text" />
        </p>
        <input type="hidden" name="itemid" value="{id}" />
        <input type="hidden" name="cid" value="{cid}" />
        <p>
        <label for="email">Email: <span class="required">*</span></label>
        <input name="email_required_email" id="email" value="" class="formfields" type="text" />
        </p>
        <p>
        <label for="url"><span class="caps">URL</span>:</label>
        <input name="url_url" id="url" value="" class="formfields" type="text" />
        </p>
        <p>
        <label for="message">Comments: <span class="required">*</span></label>
        <textarea name="message_required" cols="20" rows="10" id="message" class="formfields"></textarea>
        </p>
        <p>
        <label for="rememberinfo">Remember me?</label>
        <input name="rememberinfo" id="rememberinfo" type="checkbox" value="1" class="cBox" checked="checked" />
        </p>
        <p>
        <label for="comment"></label>
        <button type="submit" name="comment" id="comment-button">Leave a Comment!</button>
        </p>
    </fieldset>
</form>