<!-- Begin Page -->
<div id="content" class="page">
	{output}
	{loop:content}
		<h1 class="{dirtitle} page">{title}</h1>
		{set:parent_link}<h3>&laquo; {parent_link}</h3>{/set}
		{set:extra_fields}
			<dl>
			{loop:extra_fields}
			<dt>{field}</dt>
			<dd>{value}</dd>
			{/loop}
			</dl>
		{/set}
		{page_list}
		<div id="descr">{descr}</div>
		{set:logged_in}<p><a href="{editlink}">Edit page</a></p>{/set}
		
		{if:{comments}}
		<h4 id="viewcomments"> {comments_count} Comment{if:{comments_count} <> 1}s{/if}</h4>
		{/if}
		{if: {comments} == 0}
		<h6>Comments are not allowed on this entry</h6>
		{/if}
		
		{mis:the_comments}
		<h6>There are no comments on this entry.</h6>
		{/mis}

		{loop:the_comments}
			<dl class="comments">
			<dt id="comment{_rank}"><a href="#comment{_rank}" title="Permanent Link To This Comment">{name}</a> says:</dt>
			<dd><p>{message}</p>
			<p>Posted On: {date} @ {time}{set:logged_in} | <a href="{expanseurl}index.php?type=edit&amp;cat=admin&amp;sub=comments&amp;id={id}">Edit comment</a>{/set}</p></dd>
			</dl>
		{/loop}
		{if:{comments}}
			{include:'comment_form.tpl.html'}
		{/if}
	{/loop}
</div>
<!-- End Page -->
