<!-- Begin Press Full -->
<div id="content" class="press">
	<h1>{category}</h1>
	{set:subcategory}<h2>{subcategory}</h2>{/set}
	{output}
	{loop:content}
		<h3><a href="{permalink}">{title}</a></h3>
		<p><a href="{permalink}"><img src="{image}" title="{title} - Equipment: {materials}" alt="{title} - Equipment: {materials}" /></a></p>
		<div id="descr">{descr}</div>
		<p>{loop:extra_fields}
		<strong>{field}</strong>: {value}<br />
		{/loop}</p>
		<p><strong>Posted:</strong> {date}</p>
	{/loop}
</div>
<!-- End Press Full -->
