<rss version="2.0">
<channel>
<title>{sitename}{set:category} :: {category}{set:subcategory} &raquo; {subcategory}{/set}{/set}</title> 
<link>{category_link}</link> 
<description>{sitedescr}</description> 
<language>en-us</language> 
<generator>expanse {expanseversion}</generator>
<docs>http://blogs.law.harvard.edu/tech/rss</docs> 
{loop:content}
	<item>
		<title>{title}</title>
		<description>{excerpt}</description>
		<link>{permalink}</link> 
		<pubDate>{created}</pubDate>
	</item>
{/loop}
</channel>
</rss>