<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{sitename}</title>
    <link href="{atom_feed}" rel="self" />
    <link href="{yoursite}" />
    <updated>{lastmodified}</updated>
    <id>urn:uuid:60a76c80-d399-11d9-b91C-0003939e0af6</id>
   	{loop:content}
	<entry>
	  	<author>
			<name>{author}</name>
		</author>
		<title type="html"><![CDATA[{title}]]></title>
		<link rel="alternate" type="text/html" href="{permalink}" />
		<id>{permalink}</id>
		<updated>{created}</updated>
		<content type="html" xml:base="{yoursite}/?pcat={pcat}&amp;item={id}"><![CDATA[	{descr} ]]></content>
	</entry>
	{/loop}
</feed>