<feed version="1.0"
  xmlns="http://purl.org/atom/ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xml:lang="en"
  ><title>{sitename}</title>
	<link rel="alternate" type="text/html" href="{yoursite}" />
	<tagline>{sitedescr}</tagline>
	<modified>{lastmodified}</modified>
	<copyright>Copyright {copyrightdate}</copyright>
	<generator url="{company_url}">{cms_name}</generator>
{loop:content}<entry>
	  	<author>
			<name>{author}</name>
		</author>
		<title type="text/html" mode="escaped"><![CDATA[{title}]]></title>
		<link rel="alternate" type="text/html" href="{permalink}" />
		<id>{permalink}</id>
		<modified>{created}</modified>
		<issued>{created}</issued>
		<dc:subject>{pcat}</dc:subject>
		<content type="text/html" mode="escaped" xml:base="{yoursite}/?pcat={pcat}&amp;item={id}"><![CDATA[	{descr} ]]></content>
	</entry>
{/loop}
</feed>