
<div id="content" class="news">
<h1>{category}</h1>
{set:subcategory}<h2>{subcategory}</h2>{/set}
{output}
<!--Begin paging-->
{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
<!--/End paging-->

{loop:content}

<h3><a href="{permalink}">{title}</a></h3>

<p>{loop:extra_fields}
<strong>{field}</strong>: {value}<br />
{/loop}</p>
{descr}

<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by <a href="{user_url}">{author}</a><br />

  <a href="{permalink}">Full View</a> {if:{comments} or {comments_count} != 0}| {comments_count} Comments{/if}{set:logged_in}| <a href="{editlink}">Edit item</a>{/set}</p>

{/loop}
</div>



