{if:{comments}}
	<h4 id="postcomment">Post A Comment</h4>
	<p class="alert alert-info">No HTML is allowed. All links, and new lines will be automagically converted to HTML for you.<br />
	Notice to spammers, all links will be sanitized with rel=&quot;nofollow&quot;.</p>
	<form action="" method="post" id="commentform" class="form form-stacked">
		<div class="hidden">
			<input type="hidden" name="itemid" value="{id}" />
			<input type="hidden" name="cid" value="{cid}" />
		</div>
		<div class="control-group">
			<label for="name" class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="name_required" id="name" value="" />
			</div>
		</div>

		<div class="control-group">
			<label for="email" class="control-label">Email</label>
			<div class="controls">
				<input type="email" name="email_required" id="email" value="" />
			</div>
		</div>

		<div class="control-group">
			<label for="url" class="control-label">URL</label>
			<div class="controls">
				<input type="url" name="url_required" id="url" value="" />
			</div>
		</div>

		<div class="control-group">
			<label for="comments" class="control-label">Comments</label>
			<div class="controls">
				<textarea name="message_required" rows="" cols="" id="message"></textarea>
			</div>
		</div>

		<div class="control-group">
			<label for="comments" class="control-label">Remember Me?</label>
			<div class="controls">
				<input type="checkbox" name="rememberinfo" id="rememberinfo" value="1" checked="checked" />
			</div>
		</div>
	</form>
{/if}