<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{category}{set:subcategory}<br><small>{subcategory}</small>{/set}</h1>
			</div>
			{output}

			{loop:content}
			<article class="article">
				<h3><a href="{permalink}">{title}</a></h3>
				<dl>
					<dt>When</dt>
					<dd>{php}date('YYYY-MM-DD',{event_date}){/php}</dd>

					<dt>Details</dt>
					<dd>{descr}</dd>

					<dt>More Information</dt>
					<dd><a href="{url}">{url}</a></dd>
				</dl>

				<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by {author}{set:logged_in} | <a href="{editlink}">Edit item</a>{/set}</p>
			</article>
			{/loop}

		</div>
	</div>
</div>