<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{category}{set:subcategory}<br><small>{subcategory}</small>{/set}</h1>
			</div>
			{output}

			<ul class="thumbnails">
			{loop:content}
				<li class="span4">
					<div class="thumbnail">
						{thumbnail_tag}
						<h3>{title}</h3>
						<p>{excerpt}</p>
						<p><small>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by {author}{set:logged_in} | <a href="{editlink}">Edit item</a>{/set}</small></p>
					</div>
				</li>
			{/loop}
			</ul>

			{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
		</div>
	</div>
</div>
