<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{category}{set:subcategory}<br><small>{subcategory}</small>{/set}</h1>
			</div>
			{output}

			{loop:content}
			<article class="article">
				<h1><a href="{permalink}">{title}</a><br><small>{materials}</small></h1>
				<div class="span6">
					{image_tag}
				</div>
				<div class="span6">
					<div class="row-fluid">
						<ul class="thumbnails">
						{loop:image_set}
							<li class="span2">
								<div class="thumbnail">
									{thumbnail_tag}
									<p>{caption}</p>
								</div>
							</li>
						{/loop}
						</ul>
					</div>
				</div>


				{loop:extra_fields}
				<strong>{field}</strong>: {value}<br />
				{/loop}

				{descr}

				{paypal_form}

				<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by {author}{set:logged_in} | <a href="{editlink}">Edit item</a>{/set}</p>

				{if:{comments}}<h4 id="viewcomments"> {comments_count} Comment{if:{comments_count} <> 1}s{/if}</h4>
				{mis:the_comments}
					<h5>There are no comments on this entry. You should add one.</h5>
				{/mis}
				{/if}
				{if: {comments} == 0}<h6>Comments are not allowed on this entry</h6>{/if}


				<dl class="comments">
				{loop:the_comments}
					<dt id="comment{_rank}"><a href="#comment{_rank}" title="Permanent Link To This Comment">{name}</a> says:</dt>
					<dd>
						<p>{message}</p>
						<p>Posted On: {date} @ {time}{set:logged_in} | <a href="{expanseurl}index.php?type=edit&amp;cat=admin&amp;sub=comments&amp;id={id}">Edit comment</a>{/set}</p>
					</dd>
				{/loop}
				</dl>

				{include:'comment_form.tpl.html'}

			</article>
			{/loop}

			{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
		</div>
	</div>
</div>
