<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{category}{set:subcategory}<br><small>{subcategory}</small>{/set}</h1>
			</div>
			{output}

			{loop:content}
			<article class="article">
				<h1><a href="{url}">{title}</a></h1>

				{loop:extra_fields}
				<strong>{field}</strong>: {value}<br />
				{/loop}

				{descr}

				<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by {author}{set:logged_in} | <a href="{editlink}">Edit item</a>{/set}</p>
			</article>
			{/loop}

			{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
		</div>
	</div>
</div>
