<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{category}{set:subcategory}<br><small>{subcategory}</small>{/set}</h1>
			</div>
			{output}

			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					{loop:content}
					<li{set:_first} class="active"{/set}><a href="#tab{_rank}" data-toggle="tab">{title}</a></li>
					{/loop}
				</ul>

				<div class="tab-content">
					{loop:content}
					<div class="tab-pane active" id="tab{_rank}">
						<a href="{url}" target="_blank" title="{title}">{title}</a>
						{excerpt}

						<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by {author}{set:logged_in} | <a href="{editlink}">Edit item</a>{/set}</p>
					</div>
					{/loop}
				</div>

			{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
		</div>
	</div>
</div>