<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="{yoursite}">{sitename}</a>
		<ul class="nav">
		{loop:custom_menu}
			<li class="{set:current} active {/set}{set:subcats} dropdown {/set}">
				{mis:subcats}<a href="{link}">{title}</a>{/mis}
				{set:subcats}
				<a href="{link}" class="dropdown-toggle" data-toggle="dropdown">{title} <b class="caret"></b></a>
				<ul class="dropdown-menu">
				{loop:subcats}
					<li><a href="{link}">{title}</a></li>
				{/loop}
				</ul>
				{/set}
			</li>
		{/loop}
		</ul>
	</div>
</div>
