<div class="container">
	<div class="row-fluid">
		<div class="span12">
			{output}

			{loop:content}
			<article class="article">
				<div class="page-header">
					<h1>{category}{set:parent_link}<br><small>{parent_link}</small>{/set}</h1>
				</div>

				{page_list}

				{loop:extra_fields}
				<strong>{field}</strong>: {value}<br />
				{/loop}

				{descr}

				<p>Posted On: <strong>{date}</strong> @ <strong>{time}</strong> by <a href="{user_url}">{author}</a><br>
				<a href="{permalink}">Full View</a> {if:{comments} or {comments_count} != 0}| {comments_count} Comments{/if}{set:logged_in}| <a href="{editlink}">Edit item</a>{/set}</p>
			</article>
			{/loop}

			{loop:pages}{set:_first}Pages: {/set}{previous_link} {page_link} {next_link}{/loop}
		</div>
	</div>
</div>
